.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.app-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 567px) {
  .app-container {
    padding: 30px;
  }
}